<section class="about" id="about">
  <div class="container">
    <h2 class="about-title">About the Game</h2>
    <div class="about-wrapper-one">
      <p class="about-text">
        Step into Wacky Battles, a whimsical turn-based RPG set in the Enchanted
        Kingdom!<br />
        This midcore strategy game combines classic fairy tales, unpredictable
        fantasy heroes, <br />
        and deep tactical battles into one captivating adventure.
      </p>
      <img
        class="about-img"
        src="/img/about/374492488@1x.jpg"
        srcset="/img/about/374492488@1x.jpg 1x, /img/about/374492488@2x.jpg 2x"
        alt="Wacky Battles"
        width="561"
        height="293"
      />
    </div>
    <ul class="about-list">
      <li class="about-item">
        <img
          class="about-icons"
          src="/img/about/Rectangle1@1x.png"
          srcset="
            /img/about/Rectangle1@1x.png 1x,
            /img/about/Rectangle1@2x.png 2x
          "
          alt="sword"
          width="80"
          height="80"
        />
        <p class="about-text-list">
          Build a team of unlikely heroes from magical realms
        </p>
      </li>
      <li class="about-item">
        <img
          class="about-icons"
          src="/img/about/Rectangle2@1x.png"
          srcset="
            /img/about/Rectangle2@1x.png 1x,
            /img/about/Rectangle2@2x.png 2x
          "
          alt="crystal"
          width="80"
          height="80"
        />
        <p class="about-text-list">
          Make impactful decisions that influence story outcomes
        </p>
      </li>
      <li class="about-item">
        <img
          class="about-icons"
          src="/img/about/Rectangle3@1x.png"
          srcset="
            /img/about/Rectangle3@1x.png 1x,
            /img/about/Rectangle3@2x.png 2x
          "
          alt="staff"
          width="80"
          height="80"
        />
        <p class="about-text-list">
          Master tactics and abilities to overcome wild challenges
        </p>
      </li>
    </ul>
  </div>
  <div class="about-wrapper-two">
    <img
      class="about-img-two"
      src="/img/about/e6ab11cc@1x.jpg"
      srcset="/img/about/e6ab11cc@1x.jpg 1x, /img/about/e6ab11cc@2x.jpg 2x"
      alt="Wacky Battles"
      width="670"
      height="258"
    />
    <p class="about-text-two">
      With twists at every corner, your journey through Wacky Battles will keep
      you hooked and laughing as you fight for glory in the land <br />
      of enchantment!
    </p>
  </div>
  <div class="arrow-wrapper-three">
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>
</section>
