<!--Cookies-->
<section class="cookies" data-cookies>
  <div class="container cookies-container">
    <h2 class="cookies-subtitle">cookies</h2>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. <br> By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-buttons-container">
        <button class="cookies-button-decline" data-decline>Decline Cookies</button>
      <button class="cookies-button-accept" data-accept>Accept Cookies</button> 
  </div>
</section>
