<!--Hero-->
<section class="home" id="home">
  <video autoplay muted loop playsinline class="home-video">
    <source src="/video/Fantasy.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="home-overlay"></div>
  <div class="home-background">
    <h1 class="home-page">
      Wacky Battles – <br />
      Enter the Enchanted Kingdom!
    </h1>
  </div>
  <div class="home-background-subtitle">
    <h2 class="home-subtitle">
      A wild mix of fantasy, fairy tales,<br />
      and tactical turn-based battles!
    </h2>
  </div>
  <div class="home-container container">
    <a
      class="google-play-btn"
      href="https://play.google.com/store/apps/details?id=com.dois.game.dm&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="google-img"
        src="/img/hero/app@1x.png"
        srcset="/img/hero/app@1x.png 1x, /img/hero/app@2x.png 2x"
        alt="google-play"
        width="121"
        height="27"
      />
    </a>
  </div>
</section>
